<ng-container>
  <main class="flex-shrink-0">
    <div class="container mt-4">
      <img *ngIf="isItFridayGarfieBaby$ | async; else notFriday" src="/assets/friday.jpg" class="shadow-lg img-fluid img-thumbnail mx-auto d-block" />
      <ng-template #notFriday>
        <img src="/assets/shut-the-fuck-up-jon.jpg" class="shadow-lg img-fluid img-thumbnail mx-auto d-block" />
      </ng-template>
    </div>
  </main>
  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="d-flex justify-content-between align-items-center">
        <p class="display-4 text-muted d-inline flex-shrink-0">Is it Friday, Grafie baby?</p>
        <a href="https://gitlab.com/AlmightyTritan/is-it-friday-again-garfie-baby" class="source-code-button d-inline-flex align-items-center btn btn-light">
          <object type="image/svg+xml" data="/assets/gitlab.svg" class="d-inline text-muted mr-1" ></object>Source Code
        </a>
      </span>
    </div>
  </footer>
</ng-container>
